body {
    margin: 0;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://cdn.pixabay.com/photo/2019/10/18/07/28/walnut-4558442_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
  }
  
  .container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
  }
  
  .card {
    background: #957a56a2;
    border-radius: 16px;
    box-shadow: none;
    padding: 30px;
  }
  
  .card h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 24px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 4px;
    font-weight: 500;
  }
  
  input {
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    margin-top: 0px;
    color: #ffffff;
    background-color: #9b7a50;
    outline: none;
  }
  input:focus{
    border: none;
  }
  button {
    background-color: #957a56;
    color: #ffffff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 1s;
    font-style: arial;
    font-family: arial;
  }
  
  button:hover{
    background-color: #c49544;
    trsnsition: all 1s;
  }
  