body {
    font-family: Arial;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    background-image: url(https://cdn.pixabay.com/photo/2019/10/18/07/28/walnut-4558442_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}
button {
    border: none;
    vertical-align: middle;
    padding: 20px;
    background-color: #957a56;
    border-radius: 8px;
    width: 270px;
    height: 30px;
    margin-top: 0px;
    font-size: 20px;
    color: #ffffff !important;
    text-align: center;  
    line-height: 0;  
}
button:hover{
    background-color: #c49544;
    transition: all 1s;
}
input {
    width: 270px;
    height: 30px;
    margin-bottom: 8px;
    border: none;
    background-color: #9b7a50;
    color: #ffffff;
    border-radius: 8px;
    outline: none;
    font-size: 20px;
}
input::placeholder {
    color: #ffffff;
}
.paglog {
    background-color: #957a56a2;
    width: 320px;
    height: 380px;
    border-radius: 18px;
    backdrop-filter: blur(10px);

}
p {
    font-size: 20px;
    margin: 60px 0px 0px 0px;
    margin-bottom: -49px;
}
h2 {
    font-size: 20px;
    margin: 0px 0px 0px 0px;
}
